


@media screen and (max-width: 505px){
    #Webshop{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"Header        Header        Header        Header"
                            "Fotoslider    Fotoslider    Fotoslider    Fotoslider"
                            "Nav           Nav           Nav           Nav"
                            "FVS           FVS           FVS           FVS"
                            "Footer        Footer        Footer        Footer";

    }

    body{
           
    }

    .Header {
    grid-area: Header;
    }
    
    .Fotoslider {
    grid-area: Fotoslider;
    }
    
    .Nav {
    grid-area: Nav;    
    }
    
    .FVS {
    grid-area: FVS;
    }
    
    .Footer {
    grid-area: Footer;
    }

    
}